body {
    background-image: url("../vending-machine.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.VendingMachine-comment {
    color: white;
}